*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
	font-family: "Josefin Sans", sans-serif;
}

/*for the dark/light mode switch*/
:root {
    --bg: url(background_upscaled.jpg);
    --text: #f8f8ff;
    --navbar: #010101;
    --accent: #808080;
}

body.dark {
    --bg: url(background_2.png);
    --text: #020200;
    --card: #1f1f1f;
    --navbar: #f9f9f9;
    --accent: #677a99;
}

body{
	background-size: fill;
	background-position: center;
	background-image: var(--bg);
	color: var(--text);
}

/*navigation bar*/

.navbar{
	background-color: var(--navbar);
	padding: 1.5rem;
	display: grid;
	font-size: 2.5vh;
	grid-template-columns: 8% 74% 5% 5% 6.5%;
	grid-gap: 5px;
}

#theme-toggle:hover{
	cursor: pointer;
}

.link{
	color: var(--text);
	text-decoration: none;
}

.link:hover{
	text-decoration: underline;
	color: var(--accent);
}

select{
	font-size: 2.5vh;
	background-color: var(--bg);
	border: none;
	color: var(--text);
}

select:hover{
	text-decoration: underline;
	color: var(--accent);
	cursor: pointer;
}

select:focus{
	background-color: var(--navbar);
}

option{
	font-size: 19px;
}

/*--------------------------*/

/*Main title and image*/

.text{
	height: 80vh;
	width: 100%;
	margin-top: 50px;
	display: grid;
	grid-template-columns: 55% 45%;
}

.titre{
	display: grid;
	height: 80vh;
	align-content: center;
	justify-items: center;
	grid-template-rows: 8% 8% 8%;
	grid-gap: 30px;
	/*border: solid;
	border-color: white;
	border-radius: 10px;*/
}



.subTitle{
	color: var(--text);
	font-size: 30px;
}

.title{
	color: var(--text);
	font-size: 40px;
}

.photo{
	height: 80vh;
	width: 80vh;
}


.image{
	height: 80vh;
	width: 80vh;
	object-fit: contain;
}

/*-----------------------*/

/*About me and skills*/

.part{
	width: 50%;
	height: auto;
}

.part_name{
	color: var(--text);
	font-size: 30px;
	text-decoration: underline dotted blueviolet;
	margin: 0px 0px 16px 40px;
}

.description{
	color: var(--text);
	margin: 0px 0px 40px 30px;
	border: dashed blueviolet;
	font-size: 1.3rem;
	border-radius: 20px;
	padding: 10px;
	list-style-type: none;
}

/*---------------------*/

/*footer*/

footer{
	display: grid;
	background-color: var(--navbar);
	font-size: 2.5vh;
	color: var(--text);
	grid-template-columns: 49% 41% 5% 5%;
	align-content: center;
	padding: 1.5rem;
}

.top_link{
	text-decoration: none;
	color: var(--text);
}

.foot{
	color: var(--text);
	text-decoration: none;
}

.foot:hover{
	text-decoration: underline;
	color: var(--accent);
}

/*----------------------*/
